.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 8px;
  }
  .otp-heading{
    color: var(--Primary-Color, #552583);

font-size: 2.375rem;
  }
  .otp-input {
    width: 4.90875rem;
height: 4.82556rem;
font-size: 2.4rem;
padding: 8px;
padding-left:24px ;
/* fill: var(--background-white, #FFF);
stroke-width: 1px;
stroke: var(--Tertiary-Color, #D0D3D4); */
  }

  
  .verify-btn,
  .resend-btn,
  .change-btn {
    
    width: 25.875rem;
height: 3.125rem;
flex-shrink: 0;
border-radius: 0.75rem;
background: var(--Primary-Color, #552583);

  }
  
  /* Additional styling for buttons to differentiate them */
  .resend-btn {
    background-color: transparent;
    text-decoration: underline;
    color: black;

  }
  
  .change-btn {
    background-color: transparent;
    text-decoration: underline;
    color: black;
    /* background-color: #03dac5; */
  }.otp-input-container{
    width: auto;
    display: flex;
    align-items: center;
    gap: 2.08rem;
  }
  